@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.all {
  font-family: 'Kanit', sans-serif;
}

.patient-list-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.patient-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.patient-table th,
.patient-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.patient-table th {
  background-color: #f2f2f2;
}

.edit-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.delete-button {
  padding: 10px 10px;
  margin-right: 5px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}

.add-patient-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.add-patient-button:hover {
  background-color: #1e7e34;
}


.add-form-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.add-button,
.cancel-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}


.edit-form-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.edit-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.cancel-button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 15px;
}

.edit-button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 768px) {
  
}